openapi: 3.0.1
info:
  description: The Kaltura VPaaS API
  title: Kaltura VPaaS
  version: 18.12.0
servers:
- url: https://www.kaltura.com/api_v3
- url: http://www.kaltura.com/api_v3
security:
- ks: []
tags:
- description: Add & Manage Access Controls
  name: accessControl
- description: Manage access control profiles
  name: accessControlProfile
- description: Manage details for the administrative user
  name: adminUser
- description: api for getting analytics data
  name: analytics
- description: Annotation service - Video Annotation
  name: annotation
  x-plugin: annotation
- description: Manage application authentication tokens
  name: appToken
- description: Aspera service
  name: aspera
  x-plugin: aspera
- description: Retrieve information and invoke actions on attachment Asset
  name: attachmentAsset
  x-plugin: attachment
- description: Att Uverse Service
  name: attUverse
  x-plugin: attUverseDistribution
- description: "The Audit Trail service allows you to keep track of changes made to\
    \ various Kaltura objects. \n This service is disabled by default."
  name: auditTrail
  x-plugin: audit
- description: Verify if service + action are allowed to be executed by the given
    Kaltura Session (KS)
  name: auth
  x-plugin: internal
- description: AVN service
  name: avn
  x-plugin: avnDistribution
- description: Base Entry Service
  name: baseEntry
- description: "batch service lets you handle different batch process from remote\
    \ machines.\n As opposed to other objects in the system, locking mechanism is\
    \ critical in this case.\n For this reason the GetExclusiveXX, UpdateExclusiveXX\
    \ and FreeExclusiveXX actions are important for the system's integrity.\n In general\
    \ - updating batch object should be done only using the UpdateExclusiveXX which\
    \ in turn can be called only after\n acquiring a batch object properly (using\
    \  GetExclusiveXX).\n If an object was acquired and should be returned to the\
    \ pool in it's initial state - use the FreeExclusiveXX action\n Terminology:\n\
    \ LocationId\n ServerID\n ParternGroups"
  name: batch
- description: "batch service lets you handle different batch process from remote\
    \ machines.\n As opposed to other objects in the system, locking mechanism is\
    \ critical in this case.\n For this reason the GetExclusiveXX, UpdateExclusiveXX\
    \ and FreeExclusiveXX actions are important for the system's integrity.\n In general\
    \ - updating batch object should be done only using the UpdateExclusiveXX which\
    \ in turn can be called only after \n acquiring a batch object properly (using\
    \  GetExclusiveXX).\n If an object was acquired and should be returned to the\
    \ pool in it's initial state - use the FreeExclusiveXX action \n Terminology:\n\
    \ LocationId\n ServerID\n ParternGroups"
  name: batchcontrol
- description: Sending beacons on objects
  name: beacon
  x-plugin: beacon
- description: Bulk upload service is used to upload & manage bulk uploads
  name: bulk
  x-plugin: bulkUpload
- description: |-
    Bulk upload service is used to upload & manage bulk uploads using CSV files.
     This service manages only entry bulk uploads.
  name: bulkUpload
- name: bumper
  x-plugin: bumper
- description: Business-process case service lets you get information about processes
  name: businessProcessCase
  x-plugin: businessProcessNotification
- description: Business-Process server service lets you create and manage servers
  name: businessProcessServer
  x-plugin: businessProcessNotification
- description: Retrieve information and invoke actions on caption Asset
  name: captionAsset
  x-plugin: caption
- description: Search caption asset items
  name: captionAssetItem
  x-plugin: captionSearch
- description: Add & Manage Caption Params
  name: captionParams
  x-plugin: caption
- name: captureSpace
  x-plugin: captureSpace
- description: Add & Manage Categories
  name: category
- description: Add & Manage CategoryEntry - assign entry to category
  name: categoryEntry
- description: Add & Manage CategoryUser - membership of a user in a category
  name: categoryUser
- description: Comcast Mrss Service
  name: comcastMrss
  x-plugin: comcastMrssDistribution
- name: confMaps
  x-plugin: confMaps
- name: contentDistributionBatch
  x-plugin: contentDistribution
- description: Add & Manage Conversion Profiles
  name: conversionProfile
- description: Manage the connection between Conversion Profiles and Asset Params
  name: conversionProfileAssetParams
- description: Cue Point service
  name: cuePoint
  x-plugin: cuePoint
- description: Data service lets you manage data content (textual content)
  name: data
- description: delivery service is used to control delivery objects
  name: deliveryProfile
- description: Distribution Profile service
  name: distributionProfile
  x-plugin: contentDistribution
- description: Distribution Provider service
  name: distributionProvider
  x-plugin: contentDistribution
- description: Document service
  name: document
- description: Document service lets you upload and manage document files
  name: documents
  x-plugin: document
- description: DoubleClick Service
  name: doubleClick
  x-plugin: doubleClickDistribution
- description: Retrieve information and invoke actions on Flavor Asset
  name: drmLicenseAccess
  x-plugin: drm
- name: drmPolicy
  x-plugin: drm
- name: drmProfile
  x-plugin: drm
- description: DropFolder service lets you create and manage drop folders
  name: dropFolder
  x-plugin: dropFolder
- description: DropFolderFile service lets you create and manage drop folder files
  name: dropFolderFile
  x-plugin: dropFolder
- description: EmailIngestionProfile service lets you manage email ingestion profile
    records
  name: EmailIngestionProfile
- description: Entry Distribution service
  name: entryDistribution
  x-plugin: contentDistribution
- description: Base class for entry server node
  name: entryServerNode
- description: Entry Vendor Task Service
  name: entryVendorTask
  x-plugin: reach
- name: eSearch
  x-plugin: elasticSearch
- description: Event notification template service lets you create and manage event
    notification templates
  name: eventNotificationTemplate
  x-plugin: eventNotification
- description: Export CSV service is used to manage CSV exports of objects
  name: exportcsv
- description: External media service lets you upload and manage embed codes and external
    playable content
  name: externalMedia
  x-plugin: externalMedia
- description: Manage file assets
  name: fileAsset
- description: System user service
  name: fileSync
  x-plugin: fileSync
- name: filesyncImportBatch
  x-plugin: multiCenters
- description: Retrieve information and invoke actions on Flavor Asset
  name: flavorAsset
- description: Add & Manage Flavor Params
  name: flavorParams
- description: Flavor Params Output service
  name: flavorParamsOutput
- description: Generic Distribution Provider service
  name: genericDistributionProvider
  x-plugin: contentDistribution
- description: Generic Distribution Provider Actions service
  name: genericDistributionProviderAction
  x-plugin: contentDistribution
- name: group
  x-plugin: group
- description: Add & Manage GroupUser
  name: groupUser
- description: Integration service lets you dispatch integration tasks
  name: integration
  x-plugin: integration
- name: interactivity
  x-plugin: interactivity
- description: "batch service lets you handle different batch process from remote\
    \ machines.\n As opposed to other objects in the system, locking mechanism is\
    \ critical in this case.\n For this reason the GetExclusiveXX, UpdateExclusiveXX\
    \ and FreeExclusiveXX actions are important for the system's integrity.\n In general\
    \ - updating batch object should be done only using the UpdateExclusiveXX which\
    \ in turn can be called only after \n acuiring a batch objet properly (using \
    \ GetExclusiveXX).\n If an object was aquired and should be returned to the pool\
    \ in it's initial state - use the FreeExclusiveXX action \n Terminology:\n LocationId\n\
    \ ServerID\n ParternGroups"
  name: jobs
- description: Allows user to 'like' or 'unlike' and entry
  name: like
  x-plugin: like
- description: Live Channel service lets you manage live channels
  name: liveChannel
- description: Manage live channel segments
  name: liveChannelSegment
- description: Enable serving live conversion profile to the Wowza servers as XML
  name: liveConversionProfile
  x-plugin: wowza
- name: liveReports
- description: Stats Service
  name: liveStats
- description: Live Stream service lets you manage live stream entries
  name: liveStream
- description: Media service lets you upload and manage media files (images / videos
    & audio)
  name: media
- description: Media Info service
  name: mediaInfo
- description: Metadata service
  name: metadata
  x-plugin: metadata
- name: metadataBatch
  x-plugin: metadata
- description: Metadata Profile service
  name: metadataProfile
  x-plugin: metadata
- description: "A Mix is an XML unique format invented by Kaltura, it allows the user\
    \ to create a mix of videos and images, in and out points, transitions, text overlays,\
    \ soundtrack, effects and much more...\n Mixing service lets you create a new\
    \ mix, manage its metadata and make basic manipulations."
  name: mixing
- description: Ndn Service
  name: ndn
  x-plugin: ndnDistribution
- description: Notification Service
  name: notification
- description: partner service allows you to change/manage your partner personal details
    and settings as well
  name: partner
- description: Partner Catalog Item Service
  name: PartnerCatalogItem
  x-plugin: reach
- description: Permission service lets you create and manage user permissions
  name: permission
- description: PermissionItem service lets you create and manage permission items
  name: permissionItem
- name: pexip
  x-plugin: sip
- description: "Playlist service lets you create,manage and play your playlists\n\
    \ Playlists could be static (containing a fixed list of entries) or dynamic (based\
    \ on a filter)"
  name: playlist
- name: playReadyDrm
  x-plugin: playReady
- description: |-
    Poll service
     The poll service works against the cache entirely no DB instance should be used here
  name: poll
  x-plugin: poll
- description: Allows user to handle quizzes
  name: quiz
  x-plugin: quiz
- description: Allows user to manipulate their entry rating
  name: rating
  x-plugin: rating
- description: Reach Profile Service
  name: reachProfile
  x-plugin: reach
- description: api for getting reports data by the report type and some inputFilter
  name: report
- description: Manage response profiles
  name: responseProfile
- description: Schedule task service lets you create and manage scheduled task profiles
  name: scheduledTaskProfile
  x-plugin: scheduledTask
- description: "The ScheduleEvent service enables you to create and manage (update,\
    \ delete, retrieve, etc.) scheduled recording events."
  name: scheduleEvent
  x-plugin: schedule
- description: "The ScheduleEventResource service enables you create and manage (update,\
    \ delete, retrieve, etc.) the connections between recording events and the resources\
    \ required for these events (cameras, capture devices, etc.)."
  name: scheduleEventResource
  x-plugin: schedule
- description: "The ScheduleResource service enables you to create and manage (update,\
    \ delete, retrieve, etc.) the resources required for scheduled events (cameras,\
    \ capture devices, etc.)."
  name: scheduleResource
  x-plugin: schedule
- description: "Expose the schema definitions for syndication MRSS, bulk upload XML\
    \ and other schema types."
  name: schema
- description: |-
    Search service allows you to search for media in various media providers
     This service is being used mostly by the CW component
  name: search
- name: searchHistory
  x-plugin: searchHistory
- description: Server Node service
  name: serverNode
- description: Session service
  name: session
- description: Kaltura Sharepoint Extension Service
  name: sharepointExtension
  x-plugin: KalturaSharepointExtension
- description: Short link service
  name: shortLink
  x-plugin: shortLink
- name: sso
  x-plugin: sso
- description: Stats Service
  name: stats
- description: "The Storage Profile service allows you to export your Kaltura content\
    \ to external storage volumes.\n This service is disabled by default, please contact\
    \ your account manager if you wish to enable it for your partner."
  name: storageProfile
- description: Synacor HBO Service
  name: synacorHbo
  x-plugin: synacorHboDistribution
- description: Add & Manage Syndication Feeds
  name: syndicationFeed
- description: System service is used for internal system helpers & to retrieve system
    level information
  name: system
- description: System partner service
  name: systemPartner
  x-plugin: systemPartner
- description: Search object tags
  name: tag
  x-plugin: tagSearch
- description: Retrieve information and invoke actions on Thumb Asset
  name: thumbAsset
- name: thumbnail
  x-plugin: thumbnail
- description: Add & Manage Thumb Params
  name: thumbParams
- description: Thumbnail Params Output service
  name: thumbParamsOutput
- description: Time Warner Service
  name: timeWarner
  x-plugin: timeWarnerDistribution
- description: TVCom service
  name: tvCom
  x-plugin: contentDistribution
- description: |-
    UiConf service lets you create and manage your UIConfs for the various flash components
     This service is used by the KMC-ApplicationStudio
  name: uiConf
- description: Unicorn Service
  name: unicorn
  x-plugin: unicornDistribution
- name: upload
- name: uploadToken
- description: "Manage partner users on Kaltura's side\n The userId in kaltura is\
    \ the unique ID in the partner's system, and the [partnerId,Id] couple are unique\
    \ key in kaltura's DB"
  name: user
- name: userEntry
- description: UserRole service lets you create and manage user roles
  name: userRole
- name: userScore
  x-plugin: game
- description: Uverse Service
  name: uverse
  x-plugin: uverseDistribution
- description: Uverse Click To Order Service
  name: uverseClickToOrder
  x-plugin: uverseClickToOrderDistribution
- description: Utility service for the Multi-publishers console
  name: varConsole
  x-plugin: varConsole
- description: Vendor Catalog Item Service
  name: vendorCatalogItem
  x-plugin: reach
- name: vendorIntegration
  x-plugin: vendor
- name: virtualEvent
  x-plugin: virtualEvent
- description: Virus scan profile service
  name: virusScanProfile
  x-plugin: virusScan
- name: volatileInteractivity
  x-plugin: interactivity
- description: WidevineDrmService serves as a license proxy to a Widevine license
    server
  name: widevineDrm
  x-plugin: widevine
- description: widget service for full widget management
  name: widget
- description: Internal Service is used for actions that are used internally in Kaltura
    applications and might be changed in the future without any notice.
  name: xInternal
- name: zoomVendor
  x-plugin: vendor
paths:
  /service/accesscontrol/action/add:
    post:
      description: Add new Access Control Profile
      operationId: accessControl.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_add_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControl'
          description: Success
      tags:
      - accessControl
      x-kaltura-format: post
      x-kaltura-parameters:
      - accessControl
      x-codegen-request-body-name: body
  /service/accesscontrol/action/delete:
    post:
      description: Delete Access Control Profile by id
      operationId: accessControl.delete
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_delete_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - accessControl
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/accesscontrol/action/get:
    post:
      description: Get Access Control Profile by id
      operationId: accessControl.get
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControl'
          description: Success
      tags:
      - accessControl
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/accesscontrol/action/list:
    post:
      description: List Access Control Profiles by filter and pager
      operationId: accessControl.list
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControlListResponse'
          description: Success
      tags:
      - accessControl
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/accesscontrol/action/update:
    post:
      description: Update Access Control Profile by id
      operationId: accessControl.update
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_update_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControl'
          description: Success
      tags:
      - accessControl
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - accessControl
      x-codegen-request-body-name: body
  /service/accesscontrolprofile/action/add:
    post:
      description: Add new access control profile
      operationId: accessControlProfile.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControlProfile_add_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControlProfile'
          description: Success
      tags:
      - accessControlProfile
      x-kaltura-format: post
      x-kaltura-parameters:
      - accessControlProfile
      x-codegen-request-body-name: body
  /service/accesscontrolprofile/action/delete:
    post:
      description: Delete access control profile by id
      operationId: accessControlProfile.delete
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_delete_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - accessControlProfile
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/accesscontrolprofile/action/get:
    post:
      description: Get access control profile by id
      operationId: accessControlProfile.get
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControlProfile'
          description: Success
      tags:
      - accessControlProfile
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/accesscontrolprofile/action/list:
    post:
      description: List access control profiles by filter and pager
      operationId: accessControlProfile.list
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControlProfile_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControlProfileListResponse'
          description: Success
      tags:
      - accessControlProfile
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/accesscontrolprofile/action/update:
    post:
      description: Update access control profile by id
      operationId: accessControlProfile.update
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControlProfile_update_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAccessControlProfile'
          description: Success
      tags:
      - accessControlProfile
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - accessControlProfile
      x-codegen-request-body-name: body
  /service/adminuser/action/login:
    post:
      description: Get an admin session using admin email and password (Used for login
        to the KMC application)
      operationId: adminUser.login
      parameters:
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/adminUser_login_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: Success
      tags:
      - adminUser
      x-kaltura-format: post
      x-kaltura-parameters:
      - email
      - password
      - partnerId
      x-codegen-request-body-name: body
  /service/adminuser/action/resetPassword:
    post:
      description: Reset admin user password and send it to the users email address
      operationId: adminUser.resetPassword
      parameters:
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/adminUser_resetPassword_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - adminUser
      x-kaltura-format: post
      x-kaltura-parameters:
      - email
      x-codegen-request-body-name: body
  /service/adminuser/action/setInitialPassword:
    post:
      description: Set initial users password
      operationId: adminUser.setInitialPassword
      parameters:
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/adminUser_setInitialPassword_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAuthentication'
          description: Success
      tags:
      - adminUser
      x-kaltura-format: post
      x-kaltura-parameters:
      - hashKey
      - newPassword
      x-codegen-request-body-name: body
  /service/adminuser/action/updatePassword:
    post:
      deprecated: true
      description: Update admin user password and email
      operationId: adminUser.updatePassword
      parameters:
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/adminUser_updatePassword_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAdminUser'
          description: Success
      tags:
      - adminUser
      x-kaltura-format: post
      x-kaltura-parameters:
      - email
      - password
      - newEmail
      - newPassword
      - otp
      x-codegen-request-body-name: body
  /service/analytics/action/query:
    post:
      deprecated: true
      description: "report query action allows to get a analytics data for specific\
        \ query dimensions, metrics and filters."
      operationId: analytics.query
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/analytics_query_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaReportResponse'
          description: Success
      tags:
      - analytics
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/add:
    post:
      description: Allows you to add an annotation object associated with an entry
      operationId: annotation.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_add_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAnnotation'
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - annotation
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/addFromBulk:
    post:
      description: Allows you to add multiple cue points objects by uploading XML
        that contains multiple cue point definitions
      operationId: annotation.addFromBulk
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/annotation_addFromBulk_request'
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaCuePointListResponse'
          description: Success
      tags:
      - annotation
      x-kaltura-format: file
      x-kaltura-parameters:
      - fileData
  /service/annotation_annotation/action/clone:
    post:
      description: Clone cuePoint with id to given entry
      operationId: annotation.clone
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_clone_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAnnotation'
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - entryId
      - parentId
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/count:
    post:
      description: count cue point objects by filter
      operationId: annotation.count
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_count_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: integer
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/delete:
    post:
      description: "delete cue point by id, and delete all children cue points"
      operationId: annotation.delete
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_delete_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/get:
    post:
      description: Retrieve an CuePoint object by id
      operationId: annotation.get
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaCuePoint'
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/list:
    post:
      description: List annotation objects by filter and pager
      operationId: annotation.list
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAnnotationListResponse'
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/serveBulk:
    post:
      description: Download multiple cue points objects as XML definitions
      operationId: annotation.serveBulk
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/update:
    post:
      description: Update annotation by id
      operationId: annotation.update
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_update_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAnnotation'
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - annotation
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/updateCuePointsTimes:
    post:
      operationId: annotation.updateCuePointsTimes
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_updateCuePointsTimes_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaCuePoint'
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - startTime
      - endTime
      x-codegen-request-body-name: body
  /service/annotation_annotation/action/updateStatus:
    post:
      description: Update cuePoint status by id
      operationId: annotation.updateStatus
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_updateStatus_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - annotation
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - status
      x-codegen-request-body-name: body
  /service/apptoken/action/add:
    post:
      description: Add new application authentication token
      operationId: appToken.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/appToken_add_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAppToken'
          description: Success
      tags:
      - appToken
      x-kaltura-format: post
      x-kaltura-parameters:
      - appToken
      x-codegen-request-body-name: body
  /service/apptoken/action/delete:
    post:
      description: Delete application authentication token by ID
      operationId: appToken.delete
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_delete_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - appToken
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/apptoken/action/get:
    post:
      description: Get application authentication token by ID
      operationId: appToken.get
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAppToken'
          description: Success
      tags:
      - appToken
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/apptoken/action/list:
    post:
      description: List application authentication tokens by filter and pager
      operationId: appToken.list
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/appToken_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAppTokenListResponse'
          description: Success
      tags:
      - appToken
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/apptoken/action/startSession:
    post:
      description: Starts a new KS (kaltura Session) based on an application authentication
        token ID
      operationId: appToken.startSession
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/appToken_startSession_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaSessionInfo'
          description: Success
      tags:
      - appToken
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - tokenHash
      - userId
      - type
      - expiry
      - sessionPrivileges
      x-codegen-request-body-name: body
  /service/apptoken/action/update:
    post:
      description: Update application authentication token by ID
      operationId: appToken.update
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/appToken_update_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAppToken'
          description: Success
      tags:
      - appToken
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - appToken
      x-codegen-request-body-name: body
  /service/aspera_aspera/action/getFaspUrl:
    post:
      operationId: aspera.getFaspUrl
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/aspera_getFaspUrl_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: Success
      tags:
      - aspera
      x-kaltura-format: post
      x-kaltura-parameters:
      - flavorAssetId
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/add:
    post:
      description: Add attachment asset
      operationId: attachmentAsset.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_add_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAttachmentAsset'
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - entryId
      - attachmentAsset
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/delete:
    post:
      operationId: attachmentAsset.delete
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_delete_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - attachmentAssetId
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/get:
    post:
      operationId: attachmentAsset.get
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAttachmentAsset'
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - attachmentAssetId
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/getRemotePaths:
    post:
      description: Get remote storage existing paths for the asset
      operationId: attachmentAsset.getRemotePaths
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/annotation_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaRemotePathListResponse'
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/getUrl:
    post:
      description: Get download URL for the asset
      operationId: attachmentAsset.getUrl
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_getUrl_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - storageId
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/list:
    post:
      description: List attachment Assets by filter and pager
      operationId: attachmentAsset.list
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAttachmentAssetListResponse'
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/serve:
    post:
      description: Serves attachment by its id
      operationId: attachmentAsset.serve
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_serve_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - attachmentAssetId
      - serveOptions
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/setContent:
    post:
      description: Update content of attachment asset
      operationId: attachmentAsset.setContent
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_setContent_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAttachmentAsset'
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - contentResource
      x-codegen-request-body-name: body
  /service/attachment_attachmentasset/action/update:
    post:
      description: Update attachment asset
      operationId: attachmentAsset.update
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attachmentAsset_update_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAttachmentAsset'
          description: Success
      tags:
      - attachmentAsset
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      - attachmentAsset
      x-codegen-request-body-name: body
  /service/attuversedistribution_attuverse/action/getFeed:
    post:
      operationId: attUverse.getFeed
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attUverse_getFeed_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: Success
      tags:
      - attUverse
      x-kaltura-format: post
      x-kaltura-parameters:
      - distributionProfileId
      - hash
      x-codegen-request-body-name: body
  /service/audit_audittrail/action/add:
    post:
      description: Allows you to add an audit trail object and audit trail content
        associated with Kaltura object
      operationId: auditTrail.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/auditTrail_add_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAuditTrail'
          description: Success
      tags:
      - auditTrail
      x-kaltura-format: post
      x-kaltura-parameters:
      - auditTrail
      x-codegen-request-body-name: body
  /service/audit_audittrail/action/get:
    post:
      description: Retrieve an audit trail object by id
      operationId: auditTrail.get
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/accessControl_delete_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAuditTrail'
          description: Success
      tags:
      - auditTrail
      x-kaltura-format: post
      x-kaltura-parameters:
      - id
      x-codegen-request-body-name: body
  /service/audit_audittrail/action/list:
    post:
      description: List audit trail objects by filter and pager
      operationId: auditTrail.list
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/auditTrail_list_request'
        required: false
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/KalturaAuditTrailListResponse'
          description: Success
      tags:
      - auditTrail
      x-kaltura-format: post
      x-kaltura-parameters:
      - filter
      - pager
      x-codegen-request-body-name: body
  /service/avndistribution_avn/action/getFeed:
    post:
      operationId: avn.getFeed
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - 1
          - 2
          - 3
          type: integer
          x-consoleDefault: 1
          x-enumLabels:
          - JSON
          - XML
          - PHP
          x-global: true
        style: form
        x-consoleDefault: 1
        x-enumLabels:
        - JSON
        - XML
        - PHP
        x-global: true
      - explode: true
        in: query
        name: clientTag
        required: false
        schema:
          default: devkcom
          type: string
          x-hidden: true
        style: form
        x-hidden: true
      - explode: true
        in: query
        name: partnerId
        required: false
        schema:
          type: integer
          x-global: true
          x-volatile: false
        style: form
        x-global: true
        x-volatile: false
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/attUverse_getFeed_request'
        required: false
      responses:
        "200":
          content: {}
          description: Success
      tags:
      - avn
      x-kaltura-format: post
      x-kaltura-parameters:
      - distributionProfileId
      - hash
      x-codegen-request-body-name: body
  /service/baseentry/action/add:
    post:
      description: "Generic add entry, should be used when the uploaded entry type\
        \ is not known."
      operationId: baseEntry.add
      parameters:
      - explode: true
        in: query
        name: ks
        required: false
        schema:
          type: string
          x-global: true
        style: form
        x-global: true
      - description: The format of the response
        explode: true
[...]
